<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>
  
    <input formControlName="name" class="form-control" placeholder="Name" required>
  
    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
  
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>